// colors
$red: #e20718;
$light-red: #cf767d;
$paragraph-color: #565656;
$heading-color-one: #111633;
$white: #ffffff;
$bg-color: #ececec;
$bg-color1: #fbf8f7;
$black: #000000;
$border-color: #686868;
$border-color1: rgba(255, 255, 255, 0.3);
$border-color2: #eaebf1;
$green: #09bf70;
$box-color: rgba(17, 17, 17, 0.02);

// fonts
$primary-font: "Barlow", sans-serif;
$heading-font: "Barlow Semi Condensed", sans-serif;
$nav-font: "Abel", sans-serif;
$highlight-font: "Playfair Display", serif;
$paragraph-font: "Open Sans", sans-serif;

$line-height: 26px;
